access_key = "XXXXXXXXXXXXXXXXXXXX"
secret_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
chef_server_url = "https://api.chef.io/organizations/XXXXXXX"
chef_validator_name = "XXXXXXX-chef-validator"
chef_validator_file = "~/path/to/.chef/XXXXXXX-chef-validator.pem"
